<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>LearnersAcademy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>My_Servlet</display-name>
    <servlet-name>My_Servlet</servlet-name>
    <servlet-class>com.learnersacademy.My_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>My_Servlet</servlet-name>
    <url-pattern>/My_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_add</display-name>
    <servlet-name>Servlet_add</servlet-name>
    <servlet-class>com.learnersacademy.Servlet_add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_add</servlet-name>
    <url-pattern>/Servlet_add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_assign</display-name>
    <servlet-name>Servlet_assign</servlet-name>
    <servlet-class>com.learnersacademy.Servlet_assign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_assign</servlet-name>
    <url-pattern>/Servlet_assign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_addStudent</display-name>
    <servlet-name>Servlet_addStudent</servlet-name>
    <servlet-class>com.learnersacademy.Servlet_addStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_addStudent</servlet-name>
    <url-pattern>/Servlet_addStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_classReport</display-name>
    <servlet-name>Servlet_classReport</servlet-name>
    <servlet-class>com.learnersacademy.Servlet_classReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_classReport</servlet-name>
    <url-pattern>/Servlet_classReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_assignStudent</display-name>
    <servlet-name>Servlet_assignStudent</servlet-name>
    <servlet-class>com.learnersacademy.Servlet_assignStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_assignStudent</servlet-name>
    <url-pattern>/Servlet_assignStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_delete</display-name>
    <servlet-name>Servlet_delete</servlet-name>
    <servlet-class>com.learnersacademy.Servlet_delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_delete</servlet-name>
    <url-pattern>/Servlet_delete</url-pattern>
  </servlet-mapping>
</web-app>